* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI';
}

.searchbox {
    position: absolute;
    padding-left: 5%;
    padding-top: 3%;
}

.container {
    top: 35%;
    padding-left: 5%;
}

.search {
    position: absolute;
}

.search-label {
    margin: 0;
    padding: 0;
}

.news-list {
    max-height: 100%;
}
